/* Menu */

.open, .close { /* Position icons */
    cursor: pointer;
    position: absolute;
    height: 4px;
    top: 0;
    right: 0;
    padding: 35px;
    overflow: hidden;
    color: rgb(138, 0, 0);
    font-size: 30px;
    line-height: 1;
}

.toggle { /* Hides the checkbox under the open/close icons */
    cursor: pointer;
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 3;
    right: 0;
    top: 20px;
    margin-right: 25px;
    opacity: 0;
}

.menu { /* Toolbar */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
    gap: 25px;
    background: rgb(138, 0, 0);
    text-shadow: 2px 2px 2px black;
    transition: all 0.3s ease-in-out;
    border-radius: 100px;
    font-size: calc(15px + 0.390625vw);
    padding: 35px 25px 45px 25px;
    margin-bottom: 100px;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    border-left: 10px solid black;
}

a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 217, 255, 0.628);
}

a:hover {
    box-shadow: 0 -5px 0px rgba(0, 217, 255, 0.628) inset,
    500px 0 0 rgba(255,255,255,0.03) inset;
}

/* Mobile */

@media only screen and (max-width: 800px) { /* Style side menu */
    .menu {
        position: fixed;
        flex-direction: column;
        justify-content: space-around;
        flex-flow: wrap;
        height: 70vh;
        width: 400px;
        right: -400px;
        top: 0;
        padding: 50px;
        background: rgb(138, 0, 0);
        text-shadow: 2px 2px 2px black;
        transition: all 0.3s ease-in-out;
        border-radius: 100px 0px 0px 100px;
        box-shadow: 5px -5px 0px 0px rgba(0, 217, 255, 0.628) inset;
    }
   
    .open, .close { /* When mobile menu loads */
        display: block;
    }

    .toggle:checked ~ .menu { /* Remove right: -400px; which makes it pan in/show */
        right: 0;
    }

    img {
        width: 90%;
        display: inline-block;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .menu a {
        padding: 35px 25px 45px 25px;
    }  
}

@media only screen and (min-width: 800px) { /* Hide open icon on mobile */
    .close {
        display: none;
    }

    .open {
        display: none;
    }
    
}

/* Full Page */

.top {
	position: fixed;
	padding: 0px 15px 0px 15px;
	background: rgba(0, 217, 255, 0.628);
	border-radius: 100px;
	box-shadow: 3px 3px 10px #000000;
    color: rgb(138, 0, 0);
    font-size: 30px;
    right: 20px;
    bottom: 25px;
}

p {
    padding-left: 5%;
    padding-right: 5%;
    font-size: calc(13px + 0.390625vw);
    background: linear-gradient(to right, rgb(138, 0, 0), rgb(138, 0, 0), rgba(0, 217, 255, 0.628), rgba(0, 217, 255, 0.628), rgba(0, 217, 255, 0.628), rgb(138, 0, 0), rgb(138, 0, 0));
    -webkit-background-clip: text; /* Chromium */
    -moz-background-clip: text; /* Gecko */
    background-clip: text;
    color: transparent;
    text-shadow:
    1px 1px 1px white;
}

footer img {
    width: 200px;
}

.dimension {
    color:  rgba(0, 217, 255, 0.628);
    text-shadow:
    3px 3px 2px black,
    3px 3px 2px black,
    3px 3px 2px white,
    3px 3px 2px white;
    font-size: 50px;
    padding-right: 15px;
    font-family: 'Electronik', Arial, sans-serif;
}

.result {
    color: rgba(0, 217, 255, 0.628);
    text-shadow:
    3px 3px 2px black,
    3px 3px 2px black,
    3px 3px 2px white,
    3px 3px 2px white;
    font-size: 50px;
    font-family: 'Electronik', Arial, sans-serif;
}

section {
    background: radial-gradient(circle, rgb(138, 0, 0) 0%, rgba(0, 217, 255, 0.628) 100%);
    min-height: 100vh;
    line-height: 3;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    scroll-snap-align: start;
}

body {
    font-size: calc(15px + 0.390625vw);
    font-family: 'Maccoy Regular', Arial, sans-serif;
}

* {
    scroll-snap-type: y mandatory;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-color: rgba(0, 217, 255, 0.628), rgb(138, 0, 0) 100%; /* Gecko */
    scrollbar-width: thin; /* Gecko */
}

html::-webkit-scrollbar-track { /* Chromium */
    background: rgba(0, 217, 255, 0.628);
    box-shadow: inset 1px 1px 5px black ;
}
  
html::-webkit-scrollbar, /* Chromium */
html::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb:hover,
html::-webkit-scrollbar-thumb:active {
    background: linear-gradient(0deg, rgb(138, 0, 0), rgba(0, 217, 255, 0.628));
    border-radius: 20px;
    width: 10px;
}

/* Fonts */

@font-face { /* Paragraph */
    font-family: 'Electronik';
    src: url('fonts/Electronik.ttf');
    font-style: normal;
}

@font-face { /* Titles */
    font-family: 'Maccoy Regular';
    src: url('fonts/Maccoy_Regular.otf');
    font-style: normal;
}

/*  Royalty free commercial use font attribution https://fontesk.com/bestermind-font/ */